body {
    background-image: url("rps.png");
    background-size: cover;
    background-blend-mode: lighten;    
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameplay,
#results {
    display: none;
}

.rps-heading {
    font-family: Aldrich;
    font-size: 18vh;
    font-weight: 120px;
    text-align: center;

    margin: 50px 5vw;
    
    text-shadow: 0px 10px 7px rgba(0, 0, 0, 0.35);
}

.start,
.playAgain {
    font-family: Aldrich;
    font-size: 24px;
    font-weight: 15px;
    text-align: center;
    color:white;

    background-color: black;
    padding: 8px 24px;
    border-radius: 8px;
}


#gameplay .rps-heading {
    font-size: 15vh;
    margin: 30px 10vw;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #585757;
}

.gamescore {
    font-size: 100px;
    font-family: 'Antonio';
    font-weight: 8px;
}

.labels {
    display: flex;
    justify-content: center;
    font-family: 'Anybody';
}

.player-heading, 
.computer-heading {
    padding: 6px;
    text-align: center;
}

.desc {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin: 24px;
}

#results .desc {
    font-size: 42px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 52px;
}

.box {
    max-width: 1800px;
}
  
.box img {
    width: 200px;
    height: 200px;

    border: 6px solid #000000;
    filter: drop-shadow(8px 10px 12px rgba(0, 0, 0, 0.38));
}


  









